@page
@model tpte04.RazorPages.Pages.Cursos.Create

<h1>Cadastro de Curso</h1>

<hr>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="CursoModel.IdCurso"/>
            <div class="form-group">
                <label asp-for="CursoModel.NomeCurso"></label>
                <input asp-for="CursoModel.NomeCurso" class="form-control" required/>
                <span asp-validation-for="CursoModel.NomeCurso" class="text-dange"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoModel.Descricao"></label>
                <input asp-for="CursoModel.Descricao" class="form-control" required>
                <span asp-validation-for="CursoModel.Descricao" class="text-dange"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoModel.DataInicio"></label>
                <input asp-for="CursoModel.DataInicio" type="date" class="form-control" required/>
                <span asp-validation-for="CursoModel.DataInicio" class="text-dange"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoModel.DataTermino"></label>
                <input asp-for="CursoModel.DataTermino" type="date" class="form-control" required/>
                <span asp-validation-for="CursoModel.DataTermino" class="text-dange"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Cadastrar"/>
                <a asp-page="/Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>